<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat:  no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <h3 class="text-white p-4 py-0 ml-4" >  <%= result %> </h3>
    <div class="d-flex flex-wrap p-2  mx-3 mb-3 text-white ">
        <% data.forEach(function(book){ %>
          <% if (book == 'Lord of the Flies') { %>
            <div class="m-3 p-2 text-center">
                <img class="mx-auto"  id="image" src="/flies.jpg" width="193" height="300">
                <br>
                <label id="label1" class="my-2">Lord of the Flies</label>
                <br>
                <button onclick="location.href = '/flies';" id="flies" class="btn btn-secondary"> View </button>
            </div>
          <% } %>
          <% if (book == 'The Grapes Of Wrath') { %>
            <div class="m-3 p-2 text-center">
                <img class="mx-auto" id="image" src="/grapes.jpg" width="193" height="300">
                <br>
                <label id ="label2" class=" my-2">The Grapes of Wrath</label>
                <br>
                <button onclick="location.href = '/grapes';" id="grapes" class="btn btn-secondary "> View </button>
            </div>
          <% } %>

          <% if (book == 'Leaves of Grass') { %>
            <div class="m-3 p-2 text-center">
                <img id="image" src="/leaves.jpg" width="193" height="300">
                <br>
                <label id="label1" class=" my-2">Leaves of Grass</label>
                <br>
                <button onclick="location.href = '/leaves';" id="leaves" class="btn btn-secondary "> View </button>
            </div>
          <% } %>
          <% if (book == 'The Sun and Her Flowers') { %>
            <div class="m-3 p-2 text-center">
                <img id="image" src="/sun.jpg" width="193" height="300">
                <br>
                <label id ="label2" class=" my-2">The Sun and Her Flowers</label>
                <br>
                <button onclick="location.href = '/sun';" id="sun" class="btn btn-secondary"> View </button>
            </div>
          <% } %>
          <% if (book == 'Dune') { %>
            <div class="m-3 p-2 text-center">
                <img id="image" src="/dune.jpg" width="193" height="300">
                <br>
                <label id="label1" class="my-2">Dune</label>
                <br>
                <button onclick="location.href = '/dune';" id="dune" class="btn btn-secondary"> View </button>
            </div>
          <% } %>
          <% if (book == 'To Kill a Mockingbird') { %>
            <div class="m-3 p-2 text-center">
                <img id="image" src="/mockingbird.jpg" width="193" height="300">
                <br>
                <label id ="label2" class="my-2">To Kill a Mockingbird</label>
                <br>
                <button onclick="location.href = '/mockingbird';" id="mockingbird" class="btn btn-secondary"> View </button>
            </div>
          <% } %>
          
        <% }); %>
</div>
</body>
</html>